<div class="customBackground" style="background:transparent url('https://i.pinimg.com/736x/2a/85/8d/2a858d5e19bb874883a493500f43f249--jasmine-green-tea-jasmine-milk-tea.jpg') no-repeat center center /cover">
  <div class="container">
    <div class="col-md-7"></div>
    <div class="col-md-5 text-center">
      <p><strong>
        <h1>About BobaDash</h1>
        BobaDash! started in Santa Ana, California in August 2017. From the beginning, we wanted to provide only the best drinks
        and snacks with the finest of ingredients and recipes. With our enthusiasm for providing tea lovers fine tea drinks,
        we grew at a rapid rate, enabling our Franchise to spread all throughout California into other states, and even countries!
        Now, our faithful following can taste and enjoy our special drinks in a cozy and welcoming environment from all parts
        of California!
      </strong></p>
      <p><strong>
        <h1>BobaDash Mission</h1>
        Our tea drinks are professionally created with the art of sight, sound, touch, scent, and most importantly: taste. Our epic
        mission to satisfy the five senses, with unmatched quality in ingredients, has been pioneered throughout the land.
        Many partners still continues to join us due to our exceptional quality, courteous customer services, and peerless
        partnership in business. The bottom line is we always figured that putting people and quality before profits made great
        common sense. So far, it’s been working out for us. Our relationships with farmers yield the highest quality tea and
        fruits, the connections we make in communities create a loyal following, and the support we provide our baristas pay
        off every day.
      </strong></p>
    </div>
  </div>
</div>